{% extends "base.html" %}
{% block body %}

      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container my-3">
<form class="my-3" action="/" method="POST">
  <h1>Add To Do</h1>
  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="desc" class="form-label">Description</label>
    <input type="text" class="form-control" name="desc" id="desc">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% if alltodo|length==0 %}
<h1>No Records</h1>
{%else %}
<table class="table my-5">
  <thead>
    <tr>
      <th scope="col">Sno.</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for i in alltodo %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{i.title}}</td>
      <td>{{i.desc}}</td>
      <td>{{i.date_created }}</td>
      <td><a href="/update/{{i.sno}}"><button type="button" class="btn btn-warning">Update</button></a>
        <a href="/delete/{{i.sno}}"><button type="button" class="btn btn-danger">Delete</button></a></td>

    </tr>
    {% endfor %}
    
  </tbody>
</table>
{% endif %}
</div>


{% endblock body %}